<header id="header">
  <div class="intro">
    <div id="particles-js">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 intro-text">
              <h1>
                <%= data.Header.title %>
                <span></span>
              </h1>
              <p><%= data.Header.paragraph%></p>
              <a href="#features" style="z-index: 100;" class="btn btn-custom btn-lg page-scroll">
                Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
