
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact Us|Make money from your scrap online Buyers Delhi</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,900%7cPoppins:100,300,400,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="index.css">



<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
<style>

    @charset "utf-8";
*{margin:0;padding:0;border:0;outline:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:root{
 --main-color:#0bab64;
}

.navbar{
 background-color: var(--main-color);
 
}
.clearfix{
    margin-top: 30px;
}
body{font-family:'Open Sans', sans-serif; color:#6a6a6a; background:#f3f7f8}
h1, h2, h3, h4, h5, h6{font-family:'Poppins', sans-serif}
h1{font:400 28px/32px 'Poppins', sans-serif; display:block;color:#50934a;}
h2{font:400 28px/30px 'Poppins', sans-serif; display:block;color:#3e4545;}
h3{font:400 20px/24px 'Poppins', sans-serif; display:block;color:#484848;}
figure{display:table-cell; vertical-align:middle;}figure img{display:block; margin:auto; border:0; max-width:100%; height:auto;}
.dn{ display:none;}

.mw_92{max-width:92%;height:auto;}.mw_98{max-width:98%;height:auto;}.mw_100{max-width:100%;height:auto;}
/*FONTS-STYLE*/

.open-sans{font-family: 'Open Sans', sans-serif;}
.poppins{font-family: 'Poppins', sans-serif;}

.fs12{ font-size:12px;}.fs16{ font-size:16px;}



/* MAIN-CONTAINER-STARTS */

.container{width:1263px;margin:0 auto;max-width:100%;}
.minmax{ min-width:1263px; }
.bg_main{background:#555555;}
.header_top{background:#555555;}


/*Customer*/

/* CONTACTS */
/*======================*/
.contact_box h2{margin-bottom:0;line-height:25px;font-size:20px;color:#181818;font-weight:500;}
.contact_form input[type=text], .contact_form select,.contact_form textarea{width:49%;padding:7px 10px;border:2px solid #ddd;border-radius:3px;font:400 14px/20px 'Poppins', sans-serif;margin:0}
.contact_form .large{width:98.8% !important}
.addrs_w{border:1px solid #ccc;margin-bottom:10px;padding:10px 15px;background:#fff;width:100%;margin-top:15px}
.addrs_w p{margin:0px -15px 15px;padding:0px 10px 5px}
.addrs_w p:first-child{border-bottom:1px solid #ccc;background:#f8f8f8;padding:6px 10px;margin-top:-10px}
.contact_add span{display:block;margin-bottom:4px;float:left;width:40px;font-size:24px;font-weight:500}

.c_address span{display:block;margin-bottom:23px;font-size:16px;font-weight:500}
.c_address span>b{font-size:14px;margin-left:0;border-radius:50%;line-height:30px;display:inline-block;text-align:center;color:#000;width:30px;height:30px;border:1px solid #f1f1f1;background:#f7f7f7}
.c_address span>b.whats{color:#50d925}
.c_address span>b.skyp{color:#4cb1ff}
.c_address br{line-height:30px}
.map-container{border:3px solid #000;margin-top:10px}
.reset-butt{background:#9aa5af;text-align:center;color:#fff;text-transform:uppercase;padding:8px 25px;border-radius:5px;cursor:pointer;font-size:18px}
.reset-butt:hover{background:#ff7e48;color:#fff}
/* CONTACTS ENDS *


/*CONTACT-US*/
.email, .web{ margin-top:20px;}


@media only screen and (max-width:479px){
h1{ font-size:20px; line-height:22px;}
h2{ font-size:20px; line-height:22px;}
    
.popup_w .col-4{width: 50%;flex: 50%;max-width: 50%;}

.btn2{ margin-bottom:4px; font-size:13px;}
.btn3, .btn3:visited{ font-size:13px; line-height:30px; margin-bottom:4px;}
.search_icon {position: absolute;top: -66px;right: 18px;}

/*Customer-Expect*/
.hed_header h3 {font-size: 20px;}
.contact_us{ margin:1em 0; padding:20px}.btn_pos{ margin:0;float:none}
.contact_us .ques {font-size:17px; line-height:20px}.contact_us .sml_txt{ font-size:13px}

.customer_excp_sect{ padding:20px 0}

}
</style>
</head>
<body>
<%- include('./partials/navbar')  %> 
<div class="clearfix"></div>

<div class="container">
<div class="mid_area">
<div class="cms_area">
<h1>Contact Us</h1>
<div class="row contact_box">
<div class="col-12 col-md-7">
<h2 class="fs20">How to Reach?</h2>
<p class="gray fs16 mt-1">Feel free to call us, we will be very happy to assist you.</p>
<div class="mt-3 p15 bg-gray mb30">
<div class="addrs_w">
<p class="b fs20 black"><img src="https://www.forgerecycling.co.uk/blog/wp-content/uploads/2018/08/bigstock-Top-view-of-white-recycle-eco-209395741.jpg" style="width:200px;height:200px;padding:8px;border-radius:5px;"></p>
<div class="mt10 contact_add mb10">
<span><i class="fas fa-map-marker-alt"></i></span>
<p>Rajpura , Punjab</p>
</div>
<div class="c_address">
<span><b><i class="fas fa-mobile-alt"></i></b>&nbsp;90 12 18 65 78</span>
<span><b><i class="fas fa-envelope"></i> </b>&nbsp;<a href=""> info@gmail.com</a></span>
</div></div>
<div class="clearfix"></div>
</div>
</div>
<div class="col-12 col-md-5">
<h2 class="fs20">Have a Query?</h2>
<form action="" method="post" accept-charset="utf-8">
 
<div class="contact_form_cont">
<p class="gray fs16 mt-1">Just Fill the Below Information:</p>
<fieldset class="contact_form mt-2" style="border:none;">

<div class="mt-1">
<div class=" form-check">
<label class="mr-2">
<input name="service_type" type="radio" value="Query" checked="checked" >
<span class="label-text"></span>Query</label>

<label class="ml10">
<input name="service_type" type="radio" value="Feedback" >
<span class="label-text"></span> Feedback</label>
</div>
</div>

<div class="mt-1">

<input type="text" name="first_name" class="large"id="first_name" placeholder="Name *" value="">
</div>


<div class="mt-1">
<input type="text" name="last_name" class="large"id="last_name" placeholder="Last Name *" value="">
</div>

<div class="mt-1">
<input type="text" name="email" id="email" placeholder="Email *"  class="large"  value=""></div>

<div class="mt-1">
<input type="text" name="mobile_number" id="mobile_number" class="large" placeholder="Mobile No. *" value=""></div>
<div class="mt-1">
<textarea name="message" id="message"  class="large" ols="45" rows="4" placeholder="Enquiry/Comment *"></textarea></div>
<div>

 

<div class="mt-2">
<input name="input" type="submit" value="Submit" class="btn btn-success btn-md mr-2" >
<input name="input" type="reset" value="Reset" class="btn btn-default btn-md ">
</div>
</fieldset>
</div>
     </form></div>
</div>

<div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55015.77697851297!2d76.55845755170313!3d30.478991893482444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fdc7c202e6489%3A0xf2b1d67562f68349!2sRajpura%2C%20Punjab%20140401!5e0!3m2!1sen!2sin!4v1636752237958!5m2!1sen!2sin" width="1225" height="470" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>

</div>
</div>
</div>
</div>
<div class="clearfix"></div>

<p id="back-top"><a href="#top"><span></span></a></p>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">var Page='';</script>
</body>
</html>