<%- include('./partials/header')  %> 
<%- include('./partials/navbar')  %> 

<div class="container mt-3 pt-1">

      <div class="mt-5">
        <%- include("./partials/flash") %>
      </div>

      <h1 class="dispay-3 mt-2">Error Page</h1>

</div>
    
<%- include('./partials/footer')  %> 