:root{
    --main-color:#0bab64;
   }
   
   .navbar{
    background-color: var(--main-color);
   }

html, body {
  
    font-family: sans-serif;
    padding: 25px;
}
.h1{
    text-align:center;
}
.flex{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.product_wrapper {
    width: 250px;
    height: 400px;
    background: #e3e3d8;
    /* margin: auto; */
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}
.product_wrapper:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.product_wrapper .product_container {
    width: 100%;
    height: 100%;
}
.product_wrapper .product_container .product_top {
    height: 80%;
    width: 100%;

}
.product_wrapper .product_container .product_bottom {
    width: 200%;
    height: 20%;
    transition: transform 0.5s;
}
.product_wrapper .product_container .product_bottom .clicked {
    transform: translateX(-50%);
}
.product_wrapper .product_container .product_bottom h1 {
    margin: 0;
    padding: 0;
}
.product_wrapper .product_container .product_bottom p {
    margin: 0;
    padding: 0;
}
.product_wrapper .product_container .product_bottom .product_left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
    position: relative;
    float: left;
}
.product_wrapper .product_container .product_bottom .product_left .details {
    padding: 20px;
    float: left;
    width: calc(70% - 40px);
}

.product_wrapper .product_container .product_bottom .product_left .buy {
    float: right;
    width: calc(30% - 2px);
    height: 100%;
    background: #f1f1f1;

    border-left: solid thin rgba(0, 0, 0, 0.1);
}
.product_wrapper .product_container .product_bottom .product_left .buy i {
    font-size: 30px;
    padding: 30px;
    color: #254053;
    transition: transform 0.5s;
}

.product_wrapper .product_bottom .product_left .details h1{
 font-size: 17px;
}

.product_wrapper .product_container .product_bottom .product_left .buy:hover {
    background: #a6cdde;
}
.product_wrapper .product_container .product_bottom .product_left .buy:hover i {
    transform: translateY(5px);
    /* color: #00394b; */
    color:#76c893;
}
.product_wrapper .product_container .product_bottom .product_right {
    width: 50%;
    background: #a6cdde;
    color: white;
    float: right;
    height: 200%;
    overflow: hidden;
}
.product_wrapper .product_container .product_bottom .product_right .details {
    padding: 20px;
    float: right;
    width: calc(70% - 40px);
}
.product_wrapper .product_container .product_bottom .product_right .done {
    width: calc(30% - 2px);
    float: left;
    transition: transform 0.5s;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
}
.product_wrapper .product_container .product_bottom .product_right .done i {
    font-size: 30px;
    padding: 30px;
    color: white;
}
.product_wrapper .product_container .product_bottom .product_right .product_remove {
    width: calc(30% - 1px);
    clear: both;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
    background: #bc3b59;
    transition: transform 0.5s, background 0.5s;
}
.product_wrapper .product_container .product_bottom .product_right .product_remove:hover {
    background: #9b2847;
}
.product_wrapper .product_container .product_bottom .product_right .product_remove:hover i {
    transform: translateY(5px);
}
.product_wrapper .product_container .product_bottom .product_right .product_remove i {
    transition: transform 0.5s;
    font-size: 30px;
    padding: 30px;
    color: white;
}
.product_wrapper .product_container .product_bottom .product_right:hover .product_remove, .product_wrapper .product_container .product_bottom .product_right:hover .done {
    transform: translateY(-100%);
}

img{
    height: 100%;
}

.product_wrapper .product_inside {
    z-index: 9;
    /* background: #92879b; */
    background:#76c893;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}
.product_wrapper .product_inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: white;
    opacity: 1;
}
.product_wrapper .product_inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 80%;
}
.product_wrapper .product_inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
}
.product_wrapper .product_inside:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
}
.product_wrapper .product_inside .contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
}
.product_wrapper .product_inside .contents table {
    text-align: left;
    width: 100%;
}
.product_wrapper .product_inside .contents h1, .product_wrapper .product_inside .contents p, .product_wrapper .product_inside .contents table {
    color: white;
}
.product_wrapper .product_inside .contents p {
    font-size: 13px;
}
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }

